Source: cocaine-isolate-daemon
Section: misc
Priority: extra
Maintainer: Anton Tyurin <noxiouz@yandex.ru>
Build-Depends: debhelper (>= 7), golang (>= 2:1.6)
Standards-Version: 3.9.5

Package: cocaine-isolate-daemon
Architecture: amd64
Depends: ${misc:Depends}
Description: Run your processes, Docker and Porto containers on Cocaine Cloud
 It an external isolation plugin for Cocaine Core. Works with Docker, Porto,
 processes.
