#!/usr/bin/make -f

export DH_ALWAYS_EXCLUDE=.git
export DH_VERBOSE=0
export GO15VENDOREXPERIMENT="1"

NAME=cocaine-isolate-daemon
BUILDDT=$(shell date -u +%F@%H:%M:%S)
TAG=$(shell git describe --tags --always)
VERSION=$(shell git show-ref --head --hash head)
DEBVER=$(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')
CPWD=$(shell pwd)
LDFLAGS=-ldflags "-X github.com/interiorem/stout/version.GitTag=${TAG} -X github.com/noxiouz/stout/version.Version=${DEBVER} -X github.com/noxiouz/stout/version.Build=${BUILDDT} -X github.com/noxiouz/stout/version.GitHash=${VERSION}"

%:
	dh $@

override_dh_auto_build:
	mkdir -p ${CPWD}/debian/tmp/go
	export GOPATH=${CPWD}/debian/tmp/go
	mkdir -p ${CPWD}/debian/tmp/go/src/github.com/noxiouz
	ln -s ${CPWD} ${CPWD}/debian/tmp/go/src/github.com/noxiouz/stout
	GOTOOLDIR=${CPWD}/debian/tmp/go/src/github.com/noxiouz/vendor GOPATH=${CPWD}/debian/tmp/go go get -d go.etcd.io/bbolt/...
	GOTOOLDIR=${CPWD}/debian/tmp/go/src/github.com/noxiouz/vendor GOPATH=${CPWD}/debian/tmp/go go build ${LDFLAGS} -o ${NAME} ${CPWD}/debian/tmp/go/src/github.com/interiorem/stout/cmd/stout/main.go

override_dh_auto_test:
	@echo "no tests could be run during build"


cleanbuilddir::
	rm -Rf debian/tmp/
	rm -Rf debian/cocaine-porto/
